*.swp
out*.png
*.png
*.jpg
*.flo
*.pgm
*.prototxt*
*.caffemodel
*.mov
inProgress/
models/
!models/download_models.sh
deepflow2-static
deepmatching-static
consistencyChecker/consistencyChecker
